body {
    background-color: rgb(190, 182, 184);
    font-family: 'Open Sans', sans-serif;
  background-size: 100%;

}
.Fist_Image {
    width: 75%;

}

.headline {
color: #e43f5b;

}
.h1 {

  color: #e43f5b;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 150px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #e43f5b;
  }




  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 2px;
  }


  .footer {
    display:right;
    padding: 50px;

    
    

  }
  .footer1 {
    display: left;

    color: #e43f5b;

    
  }


    table {
      text-align: center;
    }
    
    td {
      padding-bottom: 20px;
    }
    
    td img {
      width: 130px;
      height: 120px;
    }

    .hs {
      text-align: center;
      color: #e43f5b;

    }

   
