<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS Link-->
    <link rel="stylesheet" href="../Style/stylesheet.css">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap"
        rel="stylesheet">


    <title>your_local_fruits</title>
    <!--Navbar-->
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="angebot.html">Products</a></li>
        <li><a href="kontakt.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
    <br> <br>

    <style>
        .googlemaps {

            background-color: white;
            padding: 14px;
        }
    </style>

</head>

<body>
    <div style="text-align: center">
        <h1 style="color: #e43f5b;">
            Here you can find us! <br> Your Local Fruits
    </div>
    </h1>
    <br>
    <div style="text-align: center">
        <div class="googlemaps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.0158063472304!2d6.761257615759349!3d51.21878447958873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8ca126e6a884d%3A0x279ef1e0a62df0ad!2sPlatz%20des%20Landtags%201%2C%2040221%20D%C3%BCsseldorf!5e0!3m2!1sde!2sde!4v1662393154767!5m2!1sde!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>

</body>
<footer>
    <hr>
    <footer>
        <hr>
        <table style="width:100%" style="color:white">

            <td>
                <h1 style="color:#e43f5b">Impressum</h1>
                <br> Düsseldorf, Deutschland <br>
                Phone: (+49) 0211 1613 <br>
                Fax: (+49) 0211 1613 <br>
                Opening hours: Monday-Friday: 12 am to 6 pm <br>
                Saturday & Sunday: 12 am to 3 am
            </td>
            <td>
                <style type=text/css>
                    a:link {
                        text-decoration: none;
                    }
                </style>
                <h1 style="color:#e43f5b">Datenschutz</h1>
                <a style="color:black" ; href="https://www.datenschutzzentrum.de/sdm/">Datenschutzvereinbarungen
                </a>
                </style>

            </td>
            </p>
    </footer>
</html>